---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<body class="bg-black-background">
	<div>
		<h1 class="font-display bg-pink-200 text-green">This uses the Oswald font</h1>
		<p class="red">Hello</p>
	</div>
</body>
